.containerCategory {
	font-family: Verdana;
	font-size: 30px;
	color: var(--color-5);
	background-color: var(--color-2);
	margin: 20px;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.forms {
	width: 70%;
	margin: 20px auto;
	padding: 20px;
	background: var(--color-3);
	border-radius: 20px;
	text-align: center;
}

.titleCategory {
	color: var(--color-5);
}

input[name="inputCodigo"] {
	height: 20px;
	width: 200px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 50px;
}

input[name="inputCategoria"] {
	height: 20px;
	width: 200px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 50px;
}

.btnCadastrar {
	font-size: 20px;
	width: 150px;
	margin: 1rem;
	padding: 6px;
	background-color: var(--color-1);
	border-radius: 10px;
	box-shadow: 0px 5px 10px 1px var(--color-4);
}

.btnCadastrar:hover {
	transform: scale(1.11);
	transition: 1s;
}