/* header */
header {
    width: 100%;
    position: relative;
    min-height: 10vh;
    height: fit-content;
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    display: none;
}
.headerNav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--color-4);
    cursor:pointer;
}
.headerNav ul li {
    color: var(--color-2);
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}
.headerNav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-3);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.headerNav ul li:hover::after{
    width: 100%;
}


/* body */

.mainAboutUs{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    background-color:var(--color-2);
    text-align: center;
}
.mainAboutUs h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.mainAboutUs h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.mainAboutUs p{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
}
.aboutUsRow{
    display: flex;
    color: var(--color-5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.aboutUsRow img {
    max-width: 130px;
    border-radius: 100%;
    padding: 20px;
    cursor:pointer;
}


/* footer */
footer{
    margin-top: auto;
    margin-bottom: auto;
    min-height: 10vh;
    height: fit-content;
    background-color: var(--color-4);
}
.footerNav{
    display: flex;
    padding: 1% 6%;
    justify-content: center;
    align-items: center;
   
}
.footerNav ul li {
    color: var(--color-2);
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}
.footerNav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-3);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footerNav ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    
    .aboutUsRow{
        flex-direction: column;
        text-align: center;
    }
    .aboutUsCol{
        align-items: flex-start;
        padding: 0;
    }
    .mainAboutUs{
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .footerNav ul li{
        display: inline-block;
        justify-items: center;

    }

}