/* header */
header {
    width: 100%;
    position: relative;
}
.headerNav img {
    display: none;
}
.headerNav{
    display: flex;
    padding: 1% 6%;
    justify-content:center;
    align-items: center;
    background-color: var(--color-4);
    cursor:pointer;
}
.headerNav ul li {
    color: var(--color-2);
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}
.headerNav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-3);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.headerNav ul li:hover::after{
    width: 100%;
}


/* body */

.mainAboutUs{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color:var(--color-2);

}
.mainAboutUs h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.mainAboutUs h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.mainAboutUs p{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
}
.aboutUsRow{
    display: flex;
    color: var(--color-5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.aboutUsRow img {
    max-width: 130px;
    border-radius: 100%;
    padding: 20px;
    cursor:pointer;
}


/* footer */
footer{
    margin-top: auto;
    margin-bottom: auto;
}
.footerNav{
    display: flex;
    padding: 1% 6%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
}
.footerNav ul li {
    color: var(--color-2);
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
}
.footerNav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-3);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footerNav ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .headerNav img{
        display: block;
        margin: 10px;
        max-width: 22px;
        cursor:pointer;
    }
    .headerNav ul li {
        display: block;
    }
    .headerNav{
        position: fixed;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
    }
    .aboutUsRow{
        flex-direction: column;
    }
    .aboutUsCol{
        align-items: flex-start;
        padding: 0;
    }
}