main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-2);
}

main input{
    max-width: 300px;
}

table {
    border: solid 5px black; 
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
    width: 35vw;
    margin: 20px;
}

thead {
    font-size: 30px;
}

td, tr {
    border: solid 1px black;
}

#search {
    padding: 10px;
}

button {
    width: 70px;
    margin: 10px;

}


