main {
    font-family: Arial;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.container {
    justify-content: center;
    display:flex;
    flex-direction: column;
    width:100%;
    height:517px;
    background-color: var(--color-2);
}
div[name="row1"]{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height:7%;
    margin-bottom:30px;
}
div[name="row2"]{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
div[name="row3"]{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
div[name="row4"]{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
select {
    width:20%;
}
form {
    width: 70%;
    height:70%;
    margin: 20px auto;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 20px;
    text-align: center;
    background: var(--color-3);
}
.field {
    margin-bottom:50px;
}