.page-container-companiesList{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background-color: var(--color-2);
  width: 100vw;
}

.search-container-companiesList{
  margin: 20px 0; 
  display: flex; 
  width: 80%; 
  justify-content: space-between; 
  align-items: center;
}

.select-companiesList{
  width: 150px;
  height: 30px;
  font-size: 14px;
  border-radius: 6px;
}

.searchInput-companiesList{
  margin: 0;
  font-size: 14px;
  border-radius: 6px;
}

.AddButton-companiesList{
  width: auto;
  padding: 8px 20px;
  background-color: var(--color-3);
  border: 2px solid var(--color-3);
  color: var(--color-1);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: none;
}

.AddButton-companiesList:hover{
  background-color: var(--color-1);
  color: var(--color-3);
  transition: ease-in 0.3s;
}

.table-container-companiesList{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}



.table-companiesList {
  width:100%; 
  border: 2px solid #000;
  border-collapse: collapse;
  font-size: 1.5vw;
}

.table-companiesList > thead> th{
  font-size: 1.5vw;
  padding: 10px; 
  text-align: center; 
  border: 2px solid #000;
}

.table-companiesList > tbody > tr{
  word-break: break-all;
}

.table-companiesList > tbody > tr > td > button{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--color-1);
  box-shadow: none;
  border-radius: 6px;
}

.table-companiesList > tbody > tr > td > button:hover{
  background-color: var(--color-3);
  transition: ease-in 0.25s;
}



.table-companiesList > tbody > tr {
  padding: 10px; 
  text-align: center; 
  border:2px solid #000;
}

.table-companiesList > tbody > tr > td {
  padding: 10px; 
  text-align: center; 
  border:2px solid #000;
}