main{
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center;
  background-color: var(--color-5);
}

.search-container{
  margin: 10px 0 20px 150px; 
  display: flex; width: 50%; 
  justify-content: space-between; 
  align-items: center;
}

.table-container{
  width: 80%; 
  margin: auto;
}

table {
  width:100%; 
  border: 2px solid #000;
  border-collapse: collapse;
}

th{
  padding: 10px; 
  text-align: center; 
  border: 2px solid #000;
}

tr {
  padding: 10px; 
  text-align: center; 
  border:2px solid #000;
}

td {
  padding: 10px; 
  text-align: center; 
  border:2px solid #000;
}

.container-icons {
   display:flex; 
   align-items: center; 
   justify-content: space-around;
}